@font-face { font-family:bebas-neue; src: url('../bebas_neue/TTF's//BebasNeue Bold.ttf') format('truetype');} 
@font-face { font-family:bebas-neue; src: url('../bebas_neue/TTF's//BebasNeue Book.ttf') format('truetype');}
@font-face { font-family:bebas-neue; src: url('../bebas_neue/TTF's//BebasNeue Light.ttf') format('truetype');}
@font-face { font-family:bebas-neue; src:'url('../bebas_neue/TTF's//BebasNeue Regular.ttf') format('truetype');}
@font-face { font-family:bebas-neue; src: url('../bebas_neue/TTF's//BebasNeue Thin.ttf') format('truetype');}
